<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="tolerancecount" value="20"/>
    <add key="baseuri" value="http://www.whoscored.com/"/>
    <!--<add key="gametype" value="PremierLeague"/>-->
    <add key="teamtype" value="Soccer"/>
    <add key="datafolder" value=".\GBData"/>
    <add key="collectinterval" value="3600"/>
    <add key="startfrom" value="0"/>
  </appSettings>
</configuration>