<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="datastore" value="https://backpack.ddns.net/store/set/goodbet/items"/>
    <add key="apikey" value="$2a$05$c.cJxY4VkitYRaBEd8rmmu63kWcvvTV8DvzE9haki6zA59jBf/d2S"/>
    <add key="passwd" value="!!123abc"/>
    <add key="baseuri" value="http://www.whoscored.com/"/>
    <add key="collectinterval" value="43200"/>
  </appSettings>
</configuration>